{
  "rules": {
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "quotes": [
      2,
      "single"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      2,
      "never"
    ],
    "strict": [
      2,
      "global"
    ],
    "callback-return": [
      2,
      [
        "callback",
        "cb",
        "next",
        "cb1",
        "cb2",
        "done",
        "callb"
      ]
    ],
    "no-path-concat": 2,
    "no-const-assign": 2,
    "prefer-const": 2,
    "prefer-template": 2,
    "constructor-super": 2,
    "no-class-assign": 2
  },
  "env": {
    "es6": true,
    "node": true
  },
  "extends": "eslint:recommended"
}